<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List of Authors in the Database</title>
</head>
<body>
  <h1>List of authors in the database</h1>

  <table>
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>LastName</th>
    </tr>
    <tr th:each="author : ${authors}">
      <td th:text="${author.id}"></td>
      <td th:text="${author.firstName}"></td>
      <td th:text="${author.lastName}"></td>
    </tr>
  </table>
</body>
</html>